<mat-card class="card">
    <h1>Entrar</h1>
    <div class="field" appearance="fill">
        <label>Email</label>
        <input type="text" [(ngModel)]="usuario.email" id="email"  class="input" placeholder="email@example.com" required>
    </div>

    <div class="field" appearance="fill">
        <label>Senha</label>
        <input type="password" [(ngModel)]="usuario.senha" id="senha" class="input" required>
    </div>

    <button  mat-raised-button color="primary" class="button" (click)="fazerLogin()">Entrar</button>
</mat-card>