<!-- <h1>Entrar</h1>

<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput name="email" id="email" placeholder="pat@example.com" [(ngModel)]="login.email" required>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="senha" id="senha" placeholder="pat@example.com" [(ngModel)]="login.email" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
    <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/cadastro']">Criar conta</button>
</form> -->
