
<div mat-dialog-content>
    <table class="table">
            <ng-container matColumnDef="id">
              <th>Id</th>
              <div *ngFor="let usuario of usuarios">{{usuario.id}}</div>
            </ng-container>
        
            <ng-container matColumnDef="name">
              <th>Nome</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
        
            <ng-container matColumnDef="email">
              <th>Email</th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
  </div>
  