<!-- <div class="mat-elevation-z8"> -->
    <mat-accordion displayMode="flat" multi class="mat-table">
      <section matSort class="mat-elevation-z2 mat-header-row">
        <span class="mat-header-cell" mat-header="id">Id</span>
        <span class="mat-header-cell" mat-header="name">Nome de usuário</span>
        <span class="mat-header-cell" mat-header="email">email</span>
        <span class="mat-header-cell" mat-header="favorite"></span>
      </section>

      <mat-expansion-panel *ngFor="let usuario of usuarios">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell">{{usuario.id}}</span>
          <span class="mat-cell">{{usuario.username}}</span>
          <span class="mat-cell">{{usuario.email}}</span>
          <span class="mat-cell">
            <app-favorito-button></app-favorito-button>
          </span>
        </mat-expansion-panel-header>
        <div><pre>

            <ul class="lista">
              <li><p>Nome completo:</p> {{usuario.name}}</li>
              <li><p>Telefone:</p> {{usuario.phone}}</li>
              <li><p>Site:</p> www.{{usuario.website}}</li>
              <li><p>Nome da empresa:</p> {{usuario.company.name}}</li>
              <li class="mapa"><p>Mapa do endereço do usuário:</p>
                <agm-map [latitude]='+usuario.address.geo.lat' [longitude]='+usuario.address.geo.lng'>
                  <agm-marker [latitude]='+usuario.address.geo.lat' [longitude]='+usuario.address.geo.lng'></agm-marker>
                </agm-map>
              </li>
            </ul>

        </pre></div>
      </mat-expansion-panel>
    </mat-accordion>
<!-- </div> -->
