<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
            
            <a mat-list-item>
                <i class="material-icons">grade</i>
                Favoritos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-home></app-home>
        <app-usuario-read></app-usuario-read>
    </mat-sidenav-content>
</mat-sidenav-container>